{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/list_pengguna.css' %}">
{% endblock style %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block body %}
<div class="page-container" id="list">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="home-tab" data-toggle="tab" href="#table" role="tab" aria-controls="home"
                aria-selected="true">Pemilik Lukisan</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="profile-tab" data-toggle="tab" href="#table2" role="tab" aria-controls="profile"
                aria-selected="false">Penyewa Lukisan</a>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="table" role="tabpanel" aria-labelledby="home-tab">
            <div class="action-box">
                <button class="nav-link white flat-red" data-toggle="modal" data-target="#daftarModal"
                    type="button">Tambah
                    Akun
                    Pemilik</button>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID Pelanggan</th>
                        <th scope="col">No KTP</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Tanggal Lahir</th>
                        <th scope="col">No HP</th>
                        <th scope="col">Email</th>
                        <th scope="cocoll">No Rek</th>
                        <th scope="col">Nama Bank</th>
                    </tr>
                </thead>
                <tbody>
                    {% for pemilik in list_pemilik %}
                    <tr>
                        <th scope="row">{{pemilik.id_pelanggan}}</th>
                        <td>{{pemilik.no_ktp}}</td>
                        <td>{{pemilik.nama}}</td>
                        <td>{{pemilik.alamat}}</td>
                        <td>{{pemilik.tempat_tgl_lahir}}</td>
                        <td>{{pemilik.no_hp}}</td>
                        <td>{{pemilik.email}}</td>
                        <td>{{pemilik.no_rek}}</td>
                        <td>{{pemilik.nama_bank}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class="tab-pane fade" id="table2" role="tabpanel" aria-labelledby="profile-tab">
            <div class="action-box">
                <button class="nav-link white flat-red" data-toggle="modal" data-target="#daftarPenyewaModal"
                    type="button">Tambah
                    Akun
                    Penyewa</button>
            </div>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">ID Pelanggan</th>
                        <th scope="col">No KTP</th>
                        <th scope="col">Nama</th>
                        <th scope="col">Alamat</th>
                        <th scope="col">Tanggal Lahir</th>
                        <th scope="col">No HP</th>
                        <th scope="col">Email</th>
                        <th scope="cocoll">Pekerjaan</th>
                        <th scope="col">Kategori</th>
                    </tr>
                </thead>
                <tbody>
                    {% for penyewa in list_penyewa %}
                    <tr>
                        <th scope="row">{{penyewa.id_pelanggan}}</th>
                        <td>{{penyewa.no_ktp}}</td>
                        <td>{{penyewa.nama}}</td>
                        <td>{{penyewa.alamat}}</td>
                        <td>{{penyewa.tempat_tgl_lahir}}</td>
                        <td>{{penyewa.no_hp}}</td>
                        <td>{{penyewa.email}}</td>
                        <td>{{penyewa.pekerjaan}}</td>
                        <td>{{penyewa.kategori}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Modal Daftar Pemilik -->
<div class="modal fade" id="daftarModal" tabindex="-1" role="dialog" aria-labelledby="daftarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="daftarModalLabel">Daftar akun Pemilik Lukisan SiPelu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'user:signup_pemilik' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_nama">Nama</label>
                        <input id="id_nama" type="text" class="form-control" name="nama" maxlength="200" required>
                        <small id="emailHelp" class="form-text text-muted">Masukkan Nama.</small>
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email</label>
                        <input id="id_email" type="text" class="form-control" name="email" required>
                        <small id="emailHelp" class="form-text text-muted">Masukkan email.</small>
                    </div>
                    <div class="form-group">
                        <label for="id_password">Password</label>
                        <input type="password" id="id_password" name="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="no_ktp">Nomor KTP</label>
                        <input id="id_ktp" type="text" pattern="[0-9]+" class="form-control" name="no_ktp"
                            maxlength="16" required>
                        <small id="emailHelp" class="form-text text-muted">Masukkan Nomor KTP.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Nama Bank</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="bank">
                            {% for bank in list_bank%}
                            <option value="{{bank.nama_bank}}">{{bank.nama_bank}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="no_ktp">Nomor Rekening</label>
                        <input id="id_ktp" type="text" pattern="[0-9]+" class="form-control" name="no_rek" required>
                        <small id="emailHelp" class="form-text text-muted">Masukkan Nomor Rekening.</small>
                    </div>
                    <div class="form-group">
                        <label for="id_ttl">Tanggal Lahir</label>
                        <input type="date" id="id_ttl" name="ttl" class="form-control" pattern="\d{4}-\d{2}-\d{2}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nomor HP</label>
                        <input id="id_hp" type="text" pattern="[0-9]+" class="form-control" name="no_hp" maxlength="16"
                            required>
                        <small id="emailHelp" class="form-text text-muted">Masukkan Nomor HP.</small>
                    </div>
                    <div class="form-group">
                        <label for="alamat">Alamat</label>
                        <textarea class="form-control" id="alamat" name="alamat" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="nav-link btn white bg-blue">Tambah</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Daftar pemilik -->

<!-- Modal Daftar Penyewa -->
<div class="modal fade" id="daftarPenyewaModal" tabindex="-1" role="dialog" aria-labelledby="daftarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="daftarModalLabel">Daftar akun Penyewa Lukisan SiPelu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'user:signup_penyewa' %}">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="id_nama">Nama</label>
                        <input id="id_nama" type="text" class="form-control" name="nama" maxlength="200" required>
                        <small id="emailHelp" class="form-text text-muted">Masukkan Nama.</small>
                    </div>
                    <div class="form-group">
                        <label for="id_email">Email</label>
                        <input id="id_email" type="text" class="form-control" name="email" required>
                        <small id="emailHelp" class="form-text text-muted">Masukkan email.</small>
                    </div>
                    <div class="form-group">
                        <label for="id_password">Password</label>
                        <input type="password" id="id_password" name="password" class="form-control">
                    </div>
                    <div class="form-group">
                        <label for="no_ktp">Nomor KTP</label>
                        <input id="id_ktp" type="text" pattern="[0-9]+" class="form-control" name="no_ktp"
                            maxlength="16" required>
                        <small id="emailHelp" class="form-text text-muted">Masukkan Nomor KTP.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleFormControlSelect1">Kategori</label>
                        <select class="form-control" id="exampleFormControlSelect1" name="kategori">
                            <option value="B">B</option>
                            <option value="S">S</option>
                            <option value="P">P</option>
                            <option value="G">G</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="no_ktp">Pekerjaan</label>
                        <input id="id_ktp" type="text" class="form-control" name="pekerjaan" required>
                        <small id="emailHelp" class="form-text text-muted">Masukkan Nama Pekerjaan.</small>
                    </div>
                    <div class="form-group">
                        <label for="id_ttl">Tanggal Lahir</label>
                        <input type="date" id="id_ttl" name="ttl" class="form-control" pattern="\d{4}-\d{2}-\d{2}">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Nomor HP</label>
                        <input id="id_hp" type="text" pattern="[0-9]+" class="form-control" name="no_hp" maxlength="16"
                            required>
                        <small id="emailHelp" class="form-text text-muted">Masukkan Nomor HP.</small>
                    </div>
                    <div class="form-group">
                        <label for="alamat">Alamat</label>
                        <textarea class="form-control" id="alamat" name="alamat" rows="3"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="nav-link btn white bg-blue">Tambah</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Daftar penyewa -->
{% endblock body %}