{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/list_pengguna.css' %}">
{% endblock style %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}


{% block body %}
<div class="page-container" id="list">
    <div class="container">
        <form method="POST" action="{% url 'user:add_bank' %}">
            {% csrf_token %}
            <div class="form-group">
                <label for="id_email">Tambah Mitra Baru</label>
                <input id="id_email" type="text" class="form-control" name="nama" required>
                <small id="emailHelp" class="form-text text-muted">Masukkan Nama Bank.</small>
                <button type="submit" class="nav-link btn white bg-blue">Tambah</button>
            </div>
        </form>
    </div>
    <div class="tab-pane fade show active" id="table3" role="tabpanel" aria-labelledby="home-tab">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Kode</th>
                    <th scope="col">Nama Bank</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for b in list_bank %}
                <tr>
                    <th scope="row">{{b.kode_bank}}</th>
                    <td>{{b.nama_bank}}</td>
                    <td><a class="nav-link btn white bg-red"
                            href="{% url 'user:delete_bank' id=b.kode_bank %}">Hapus</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}