{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/list_pengguna.css' %}">
{% endblock style %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}


{% block body %}
<div class="page-container" id="list">
    <div class="tab-pane fade show active" id="table3" role="tabpanel" aria-labelledby="home-tab">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">No Staff</th>
                    <th scope="col">Nama</th>
                    <th scope="col">Tanggal Lahir</th>
                    <th scope="col">No HP</th>
                    <th scope="col">Email</th>
                    <th scope="cocoll">Lulusan</th>
                </tr>
            </thead>
            <tbody>
                {% for staff in list_staff %}
                <tr>
                    <th scope="row">{{staff.no_staff}}</th>
                    <td>{{staff.nama}}</td>
                    <td>{{staff.tempat_tgl_lahir}}</td>
                    <td>{{staff.no_hp}}</td>
                    <td>{{staff.email}}</td>
                    <td>{{staff.lulusan_staff}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}