{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock style %}


{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}


{% block body %}
<div class="page-container" id="profile">
    <div class="container-card" id="data-profile">
        {% if is_staff%}
        <h1>Profil Staff</h1>
        <h4>No Staff: {{user.no_staff}}</h4>
        {% else %}
        <h1>Profil Pelanggan</h1>
        <h4>No Id: {{user.id_pelanggan}}</h4>
        {% endif %}
        <h4>Nama: {{user.nama}}</h4>
        <h4>Email: {{user.email}}</h4>
        <h4>No Hp: {{user.no_hp}}</h4>
        <h4>Tanggal Lahir: {{user.tempat_tgl_lahir}}</h4>
    </div>

</div>
{% endblock body %}