* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}


.bg-blue {
    background-color: #6699CC;
}

.bg-yellow {
    background-color: #FFF275;
}

.bg-orange {
    background-color: #FF8C42;
}

.bg-red {
    background-color: #FF3C38;
}

.bg-red-dark {
    background-color: #A23E48;
}

.blue {
    color: #6699CC;
}

.red {
    color: #FF3C38;
}

.orange {
    color: #FF8C42;
}

.white {
    color: white;
}

.active {
    color: #FF3C38 !important;
}

.flat-red {
    border: 1px solid #FF3C38;
    border-radius: 5px;
    color: red;
    background-color: white;
}

.flat-red:hover {
    border: 1px solid #FF3C38;
    border-radius: 5px;
    color: white;
    background-color: #FF3C38;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.flat-blue {
    border: 1px solid #6699CC;
    border-radius: 5px;
    color: #6699CC;
    background-color: white;
}

.flat-blue:hover {
    border: 1px solid #6699CC;
    border-radius: 5px;
    color: white;
    background-color: #6699CC;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.flat-orange {
    border: 1px solid #FF8C42;
    border-radius: 5px;
    color: #FF8C42;
    background-color: white;
}

.flat-orange:hover {
    border: 1px solid #FF8C42;
    border-radius: 5px;
    color: white;
    background-color: #FF8C42;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.btn {
    padding: 8px;
}

.btn-max {
    width: 100%;
}

.btn-special {
    border: none;
    background: none;
}

.user {
    margin-left: 5px;
    margin-right: 5px;
    text-align: center;
}

.page-container {
    display: flex;
    height: 100%;
    width: calc(100vw - 20px);
    padding: 10px;
}

.container-card {
    align-items: center;
    background-color: #f5f6f0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
}

#navbar {
    background-color: white;
}

#user-system {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

#top,
#bottom {
    width: 50px;
    height: 15px;
    margin: 2px;
}

#top {
    border-top-left-radius: 10px;
}

#bottom {
    border-bottom-right-radius: 10px;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media screen and (max-width: 768px) {
    #user-system {
        display: flex;
        justify-content: center;
        flex-direction: row;
        width: 100%;
    }

    #user-system button {
        width: 100%;
    }

    .user {
        width: 50%;
    }
}