#landing {
    justify-content: center;
}

#content,
#profile {
    margin: 10px;
}

#content {
    /* height: 85vh; */
    /* overflow: hidden; */
}

#profile {
    height: 30vh;
    width: 35vw;
}

#lukisan {
    margin-top: 5px;
    margin-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    justify-content: space-between;
}

#lukisan-detail {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.page-item {
    margin: 5px;
}

@media screen and (max-width: 768px) {
    #landing {
        flex-direction: column-reverse;
    }

    #content,
    #profile {
        width: 100%;
        margin: 0;
    }

    #profile,
    #content {
        margin-bottom: 20px;
    }
}