#table,
#table2,
#table3 {
    width: 95vw;
    overflow-x: scroll;
}

#list {
    flex-direction: column;
}

.begining {
    justify-content: flex-start;
    padding: 10px;
}

.action-box {
    padding: 10px;
}