#detail-lukisan {
    display: flex;
    flex-direction: column;
}

#judul {
    display: flex;
    align-items: center;
}

#back {
    margin-left: 5px;
}

#data-lukisan {
    display: flex;
    flex-direction: row;
}

#gambar {
    height: 70vh;
    width: 50vw;
}

#deskripsi {
    padding: 10px;
}

@media screen and (max-width: 768px) {
    #data-lukisan {
        flex-direction: column;
        align-items: center;
    }

    #gambar {
        height: 50vh;
        width: 90vw;
    }

    #deskripsi {
        width: calc(90vw - 10px);
        padding: 10px;
    }
}