{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/list_pengguna.css' %}">
{% endblock style %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}


{% block body %}
<div class="page-container" id="list">
    <div class="tab-pane fade show active" id="table3" role="tabpanel" aria-labelledby="home-tab">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Tanggal Terima</th>
                    <th scope="col">ID Pelanggan</th>
                    <th scope="col">ID Lukisan</th>
                    <th scope="col">Jumlah Lukisan</th>
                    <th scope="col">Harga Lukisan</th>
                    <th scope="col">Total Fee</th>
                </tr>
            </thead>
            <tbody>
                {% for tr in list_transaksi %}
                <tr>
                    <th scope="row">{{tr.tgl_terima}}</th>
                    <td>{{tr.id_pelanggan}}</td>
                    <td>{{tr.id_lukisan}}</td>
                    <td>{{tr.jumlah}}</td>
                    <td>{{tr.harga}}</td>
                    <td>{{tr.total}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}