{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/list_pengguna.css' %}">
{% endblock style %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}


{% block body %}
<div class="page-container" id="list">
    <div class="tab-pane fade show active" id="table3" role="tabpanel" aria-labelledby="home-tab">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Tanggal Sewa</th>
                    <th scope="col">ID Pelanggan</th>
                    <th scope="col">Jumlah Lukisan</th>
                    <th scope="col">ID Lukisan</th>
                    <th scope="col">Tenor</th>
                    <th scope="col">Lama Sewa</th>
                    <th scope="col">Alamat Tujuan</th>
                    <th scope="col">Ongkos Kirim</th>
                    <th scope="col">Total Sewa</th>
                    <th scope="col">Tanggal Kembali</th>
                    <th scope="col">Pembayaran</th>
                    <th scope="col">No Staff</th>
                </tr>
            </thead>
            <tbody>
                {% for tr in list_sewa %}
                <tr>
                    <th scope="row">{{tr.tgl_sewa}}</th>
                    <td>{{tr.id_pelanggan}}</td>
                    <td>{{tr.banyaknya}}</td>
                    <td>{{tr.id_lukisan}}</td>
                    <td>{{tr.tenor_pilihan}}</td>
                    <td>{{tr.lama_sewa}} Bulan</td>
                    <th>{{tr.alamat_tujuan}}</th>
                    <td>{{tr.ongkir}}</td>
                    <td>{{tr.total_biaya}}</td>
                    <td>{{tr.tgl_kembali}}</td>
                    <td>{{tr.kode_bank}} - {{tr.nama_bank}}</td>
                    <td>{{tr.no_staff}}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock body %}