{% extends 'base.html' %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/lukisan-detail.css' %}">
{% endblock style %}

{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}

{% block body %}
<div class="page-container" id="detail-lukisan">
    <div id="judul">
        <h1>{{lukisan.nama_lukisan}}</h1>
        <a class="btn flat-red red" id="back" href="{% url 'user:landing' %}">&laquo;</a>
    </div>
    <div id="data-lukisan">
        <div id="gambar" class="container-card">
        </div>
        <div id="deskripsi">
            <h1>Nama : {{lukisan.nama_lukisan}}</h1>
            <h1>Tema : {{lukisan.tema_lukisan}}</h1>
            <h1>Tahun : {{lukisan.tahun}}</h1>
            <h1>Harga : {{lukisan.harga}}</h1>

            <div id="action">
                <a class="btn btn-max bg-blue white" id="back" href="{% url 'user:landing' %}">Sewa</a>
            </div>
        </div>
    </div>
</div>
{% endblock body %}