<nav class="navbar navbar-expand-lg" id="navbar">
    <a class="navbar-brand blue" href="{% url 'user:landing' %}"><b>SiPelu</b></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"
        aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
        <!-- <span class="navbar-toggler-icon"></span> -->
        <div id="top" class="bg-red"></div>
        <div id="bottom" class="bg-blue"></div>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                {% url 'user:landing' as url %}
                <a href="{{ url }}" {% if request.path == url %} class="nav-link blue active" {% else %}
                    class="nav-link blue" {% endif %}>Katalog<span class="sr-only">(current)</span></a>
            </li>
            {% if is_auth %}

            {% if is_staff%}
            <li class="nav-item">
                {% url 'lukisan:list_sewa' as url %}
                <a href="{{ url }}" {% if request.path == url %} class="nav-link blue active" {% else %}
                    class="nav-link blue" {% endif %}>Sewa<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                {% url 'lukisan:list_transaksi' as url %}
                <a href="{{ url }}" {% if request.path == url %} class="nav-link blue active" {% else %}
                    class="nav-link blue" {% endif %}>Transaksi<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                {% url 'user:list_pengguna' as url %}
                <a href="{{ url }}" {% if request.path == url %} class="nav-link blue active" {% else %}
                    class="nav-link blue" {% endif %}>Pengguna<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                {% url 'user:list_staff' as url %}
                <a href="{{ url }}" {% if request.path == url %} class="nav-link blue active" {% else %}
                    class="nav-link blue" {% endif %}>Staff<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                {% url 'user:list_bank' as url %}
                <a href="{{ url }}" {% if request.path == url %} class="nav-link blue active" {% else %}
                    class="nav-link blue" {% endif %}>Bank<span class="sr-only">(current)</span></a>
            </li>
            {% else %}
            <li class="nav-item">
                <a class="nav-link blue" href="{% url 'user:landing' %}">Transaksi<span
                        class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link blue" href="{% url 'user:landing' %}">Galeri<span
                        class="sr-only">(current)</span></a>
            </li>
            {% endif %}

            {% if is_pemilik %}
            <li class="nav-item">
                <a class="nav-link blue" href="{% url 'user:landing' %}">Daftar TerSewa<span
                        class="sr-only">(current)</span></a>
            </li>
            {% endif %}

            {% endif %}
        </ul>
        {% if not is_auth %}
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="user-system">

            <li class="nav-item user">
                <button class="nav-link white flat-blue" data-toggle="modal" data-target="#masukPelangganModal"
                    type="button">Masuk</button>
            </li>
        </ul>
        {% else %}
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" id="user-system">
            {% if is_staff %}
            <li class="nav-link nav-item user">
                <a class="" href="{% url 'user:profile_staff' id=is_auth.no_staff %}">Hei,{{is_auth.nama}}!</a>
            </li>
            <li class="nav-item user">
                <a class="nav-link white flat-red" href="{% url 'user:logout_staff' %}">Keluar</a>
            </li>
            {% else %}
            <li class="nav-link nav-item user">
                <a class="" href="{% url 'user:profile' id=is_auth.id_pelanggan %}">Hei,{{is_auth.nama}}!</a>
            </li>
            <li class="nav-item user">
                <a class="nav-link white flat-red" href="{% url 'user:logout' %}">Keluar</a>
            </li>
            {% endif %}
        </ul>
        {% endif %}
    </div>
</nav>

<!-- Modal Masuk pelanggan -->
<div class="modal fade" id="masukPelangganModal" tabindex="-1" role="dialog" aria-labelledby="masukPelangganModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="masukModalLabel">Masuk ke Akun SiPelu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'user:login' %}" id="staff_login">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">ID Pelanggan</label>
                        <input id="id_pelanggan_id" type="text" class="form-control" name="user_id" maxlength="10"
                            required>
                        <small id="emailHelp" class="form-text text-muted">Masukkan Id Pelanggan anda.</small>
                        <small id="emailHelp" class="form-text text-muted">
                            Anda Staff?
                            <button type="button" class="btn-special" data-toggle="modal" data-target="#masukModal"
                                data-dismiss="modal">Masuk</button>
                        </small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" id="id_password" name="password" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="nav-link white flat-orange" data-toggle="modal"
                        data-target="#daftarModal" data-dismiss="modal">Daftar</button>
                    <button type="submit" class="nav-link btn white bg-blue">Masuk</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Masuk pelanggan -->

<!-- Modal Masuk staff -->
<div class="modal fade" id="masukModal" tabindex="-1" role="dialog" aria-labelledby="daftarModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="masukModalLabel">Masuk ke Akun SiPelu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form method="POST" action="{% url 'user:login_staff' %}" id="staff_login">
                <div class="modal-body">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="exampleInputEmail1">ID Staff</label>
                        <input id="id_staff_id" type="text" class="form-control" name="staff_id" maxlength="10"
                            required>
                        <small id="emailHelp" class="form-text text-muted">Masukkan Id Staff anda.</small>
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" id="id_password" name="password" class="form-control">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="nav-link white flat-orange" data-toggle="modal"
                        data-target="#daftarModal" data-dismiss="modal">Daftar</button>
                    <button type="submit" class="nav-link btn white bg-blue">Masuk</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Modal Masuk staff -->