{% extends 'base.html' %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'css/landing.css' %}">
{% endblock style %}


{% block navbar %}
{% include 'navbar.html' %}
{% endblock navbar %}


{% block body %}
<div class="page-container" id="landing">
    <div class="container" id="content">
        <div>
            <h3>Daftar Lukisan</h3>
        </div>
        <div id="list-lukisan">
            {% for l in lukisan %}
            {% include 'landing/lukisan.html' with data=l %}
            {% endfor %}
        </div>
        <div class="pagination">
            <span class="step-links">
                {% if lukisan.has_previous %}
                <a href="?page=1" class="red">&laquo; Pertama</a>
                <a href="?page={{ lukisan.previous_page_number }}" class="red">Sebelumnya</a>
                {% endif %}

                <span class="current blue">
                    Halaman {{ lukisan.number }} dari {{ lukisan.paginator.num_pages }}.
                </span>

                {% if lukisan.has_next %}
                <a href="?page={{ lukisan.next_page_number }}" class="red">Selanjutnya</a>
                <a href="?page={{ lukisan.paginator.num_pages }}" class="red">Terakhir &raquo;</a>
                {% endif %}
            </span>
        </div>
    </div>

    <div class="container-card" id="profile">
        <div class="container">
            <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
        </div>
    </div>
</div>
{% endblock body %}