{% load static %}

<div class="container-card" id="lukisan">
    <div id="lukisan-detail">
        <div>
            <span>Nama : {{data.nama_lukisan}}</span>
        </div>
        <div>
            <span>Tahun : {{data.tahun}}</span>
        </div>
        <div>
            <span>Tema : {{data.tema_lukisan}}</span>
        </div>
        <div>
            <span>Harga : Rp {{data.harga}}</span>
        </div>
    </div>
    <div id="lukisan-action">
        <a class="btn flat-blue" href="{% url 'lukisan:detail' id=data.id_lukisan %}">Detail</a>
    </div>
</div>